* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.header__wrapper {
	margin: 0;
	padding: 20px 0;
}
.header__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px;
}
.header__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__text {
	display: flex;

	align-items: center;
}
.header__contacts {
	margin-right: 61px;
	text-align: right;
}
.header__text > p {
	font-size: 14px;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 2px solid rgba(254, 200, 11, 1);
}
.header__text > b {
	font-size: 22px;
}
.header__menu > img {
	width: 44px;
	height: 44px;
}
.fa-caret-down {
	color: rgba(254, 200, 11, 1);
}
.header__contacts > p {
	color: rgba(161, 161, 161, 1);
}
.item {
	width: 46px;
	height: 46px;
	background-color: rgba(254, 200, 11, 1);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header__nav-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 26px;
}
.header__links {
	display: flex;
	justify-content: space-between;

	list-style: none;
	padding: 0;
	margin-left: 20px;
}

.header__nav-link {
	margin-right: 80px;
}
.btn {
	border: none;
	background-color: rgba(254, 200, 11, 1);
	padding: 10px;
	display: flex;
	border-radius: 4px;
}
.btn i {
	margin-right: 10px;
}
.header__nav-link > a {
	text-decoration: none;
	color: black;
}
.header__catalog {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 30px;
	width: 100%;
	border-top: 1px solid rgba(254, 200, 11, 1);
}
.header__tools {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.input-controller {
	position: relative;
	display: flex;
	align-items: center;
}
.input-controller input {
	width: 100%;
	padding: 5px;
	border-radius: 30px;
	height: 36px;
	width: 312px;

	border: 1px solid rgba(254, 200, 11, 1);
}
.input-controller i {
	position: absolute;

	right: 10px;
}
.item-controller {
	display: flex;
	align-items: center;
	margin: 20px;
	font-size: 30px;
}
.item-controller span {
	margin: 16px;
}
