* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.header {
	display: flex;
}
.header__wrapper {
	width: 1440px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0;
	padding: 20px 0;
}
.header__menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 600px;
}
.header__info {
	display: flex;
	justify-content: space-between;
}
.header__text {
	display: flex;

	align-items: center;
}
.header__contacts {
	margin-right: 61px;
	text-align: right;
}
.header__text > p {
	font-size: 14px;
}
.header__text > b {
	font-size: 22px;
}
.header__menu > img {
	width: 44px;
	height: 44px;
}
.fa-caret-down {
	color: rgba(254, 200, 11, 1);
}
.header__contacts > p {
	color: rgba(161, 161, 161, 1);
}
.item {
	width: 46px;
	height: 46px;
	background-color: rgba(254, 200, 11, 1);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header__nav-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 26px;
	width: 100%;
}
.header__links {
	display: flex;
	justify-content: space-between;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}
.item__nav-links {
	display: flex;
}
.header__nav-link {
	margin-right: 20px;
}
.item__catalog {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 41px;
	background-color: rgba(254, 200, 11, 1);
}
.catalog__btn {
	padding-left: 30px;
	height: 42px;
	background-color: rgba(254, 200, 11, 1);
	border: none;
}
.header__nav-link > a {
	text-decoration: none;
	color: black;
}
