* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.header__wrapper {
	margin: 0 auto;
	padding: 20px 0;
	max-width: 1320px;
	justify-content: center;
	box-sizing: border-box;
	width: 100%;
}
.header__container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.header__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px;
}
.header__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__text {
	display: flex;

	align-items: center;
}
.header__contacts {
	margin-right: 61px;
	text-align: right;
}
.header__text > p {
	font-size: 14px;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 2px solid rgba(254, 200, 11, 1);
}
.header__text > b {
	font-size: 22px;
}
.header__menu > img {
	width: 44px;
	height: 44px;
}
.fa-caret-down {
	color: rgba(254, 200, 11, 1);
}
.header__contacts > p {
	color: rgba(161, 161, 161, 1);
}
.item {
	width: 46px;
	height: 46px;
	background-color: rgba(254, 200, 11, 1);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header__nav-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 26px;
}
.header__links {
	display: flex;
	justify-content: space-between;

	list-style: none;
	padding: 0;
	margin-left: 20px;
}

.header__nav-link {
	margin-right: 80px;
}
.btn {
	border: none;
	background-color: rgba(254, 200, 11, 1);
	padding: 10px;
	display: flex;
	border-radius: 4px;
}
.btn i {
	margin-right: 10px;
}
.header__nav-link > a {
	text-decoration: none;
	color: black;
}
.header__catalog {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 30px;
	width: 100%;
	border-top: 1px solid rgba(254, 200, 11, 1);
}
.header__tools {
	display: flex;

	align-items: center;
	margin-left: auto;
}
.input-controller {
	position: relative;
	display: flex;
	align-items: center;
}
.input-controller input {
	width: 100%;
	padding: 5px;
	border-radius: 30px;
	height: 36px;
	width: 312px;
	min-width: 0;
	border: 1px solid rgba(254, 200, 11, 1);
}
.input-controller i {
	position: absolute;

	right: 10px;
}
.item-controller {
	display: flex;
	align-items: center;
	margin: 20px;
	font-size: 30px;
	flex-shrink: 0;
}
.item-controller span {
	margin: 16px;
}
.banner {
	width: 100%;
	height: 566px;
	background-image: url("./images/banner.jpg");
	background-repeat: no-repeat;
	background-size: 135%;
	background-position: left bottom;
	position: relative;
}
.banner__container {
	width: 100%;
	margin: 0 auto;

	box-sizing: border-box;
}

.banner__info {
	color: aliceblue;
	position: absolute;
	top: 170px;
	left: 60px;
}
.banner__info > h1 {
	margin-bottom: 16px;
	font-size: 40px;
}
.banner__btn {
	display: flex;
	justify-content: space-between;
	margin-top: 54px;
}
.banner__btn > button {
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
}
.btn__katalog {
	background-color: rgba(254, 200, 11, 1);
	border: none;
}
.btn__call {
	background-color: rgba(255, 249, 249, 0.196);
	border: 2px solid rgba(254, 200, 11, 1);
}
.banner__arrow {
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	top: 50%;
}
.arrow__left > button {
	background: none;
	border: none;
	cursor: pointer;
}
.arrow__right > button {
	background: none;
	border: none;
	cursor: pointer;
}
.banner__pagination {
	position: absolute;
	bottom: 10px;
	left: 50%;
	display: flex;
}
.ellipse {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid white;
	cursor: pointer;
	background-color: rgba(240, 248, 255, 0);
	margin: 5px;
}
.ellipse__white {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid white;
	cursor: pointer;
	background-color: white;
	margin: 5px;
}
.categories__container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.categories {
	display: flex;
	justify-content: space-between;
}
.categories__navigation {
	margin-top: 80px;

	display: flex;
}
.categories__arrow {
	margin-top: 80px;

	display: flex;
	align-items: center;
}
.arrow__left {
	margin: 5px;
	cursor: pointer;
}
.categories__arrow > p {
	margin: 5px;
}
.arrow__right {
	cursor: pointer;
}
.category__wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}
.category-img {
	width: 312px;
	height: 338px;
	border-radius: 8px;
	border: 1px solid rgba(235, 235, 235, 1);
	background-color: white;
	position: relative;
}
.category-img__info {
	position: absolute;
	top: 18px;
	left: 14px;
}
.category-img > img {
	position: absolute;
	bottom: 10px;
	left: calc(50% - 85px);
}
.category-img__info > h1 {
	font-size: 24px;
}
.category-img__info > p {
	font-size: 16px;
	color: rgba(161, 161, 161, 1);
}
.category-img-hide-768 {
	width: 312px;
	height: 338px;
	border-radius: 8px;
	border: 1px solid rgba(235, 235, 235, 1);
	background-color: white;
	position: relative;
}
.category-img__info-hide-768 {
	position: absolute;
	top: 18px;
	left: 14px;
}
.category-img-hide-768 > img {
	position: absolute;
	bottom: 10px;
	left: calc(50% - 85px);
}
.category-img__info-hide-768 > h1 {
	font-size: 24px;
}
.category-img__info-hide-768 > p {
	font-size: 16px;
	color: rgba(161, 161, 161, 1);
}
.category-img-hide-414 {
	width: 312px;
	height: 338px;
	border-radius: 8px;
	border: 1px solid rgba(235, 235, 235, 1);
	background-color: white;
	position: relative;
}
.category-img__info-hide-414 {
	position: absolute;
	top: 18px;
	left: 14px;
}
.category-img-hide-414 > img {
	position: absolute;
	bottom: 10px;
	left: calc(50% - 85px);
}
.category-img__info-hide-414 > h1 {
	font-size: 24px;
}
.category-img__info-hide-414 > p {
	font-size: 16px;
	color: rgba(161, 161, 161, 1);
}

.company__container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	margin-top: 158px;
	box-sizing: border-box;
	justify-content: flex-start;
}
.rustrack {
	color: rgba(254, 200, 11, 1);
}
.about__company {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.text-about > p {
	width: 78%;
	margin-top: 22px;
	font-size: 20px;
}
.image__company {
	display: flex;
}
.image__company > img {
	width: 800px;
}
.text-about {
	max-width: 600px;
}
.company-btn {
	background-color: rgba(254, 200, 11, 1);
	color: black;
	border: none;
	min-width: 175px;
	height: 44px;
	padding-top: 6px;
	margin-top: 64px;
	padding-bottom: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 4px;
}
.company-btn i {
	font-size: 16px;
}
.company-btn > span {
	padding-right: 10px;
}
.company-result__container {
	max-width: 1440px;
	max-height: 550px;
	width: 100%;
	margin: 0 auto;
	padding-top: 160px;
	box-sizing: border-box;
}
.company-result {
	display: flex;
	justify-content: space-around;
	background-color: rgba(254, 200, 11, 1);
	padding: 64px 0;
}

.result__number {
	font-size: 100px;
}

.result__text {
	display: flex;
	font-size: 32px;
}
.company-result__item > span {
	font-size: 24px;
	font-weight: 400px;
	margin-left: 8px;
}
.company-result__item > p {
	font-size: 18px;
	margin-top: 24px;
	line-height: 150%;
	width: 250px;
}
.production__container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	margin-top: 156px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.production__circle {
	position: relative;
	width: 590px;
	height: 590px;
}

.point_dot1 {
	position: absolute;
	top: 20px;
	left: 330px;
	width: 279px;
	display: flex;
	align-items: center;
}
.point_dot2 {
	position: absolute;
	top: 150px;
	left: 450px;
	width: 279px;
	color: rgba(161, 161, 161, 1);
	display: flex;
	align-items: center;
}
.point_dot3 {
	position: absolute;
	top: 290px;
	left: 490px;
	width: 279px;
	color: rgba(161, 161, 161, 1);
	display: flex;
	align-items: center;
}
.point_dot4 {
	position: absolute;
	top: 440px;
	left: 450px;
	width: 200px;
	color: rgba(161, 161, 161, 1);
	display: flex;
	align-items: center;
}
.point_dot5 {
	position: absolute;
	top: 550px;
	left: 340px;
	width: 279px;
	color: rgba(161, 161, 161, 1);
	display: flex;
	align-items: center;
}

.production__content {
	width: 424px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.production__content > img {
	margin-bottom: 32px;
}
.production__info {
	position: relative;
	display: flex;
	padding-left: 30px;
	margin-bottom: 100px;
	height: 100%;
	align-items: center;
}
.yellow-line {
	position: absolute;
	left: 10px;
	background-color: rgba(254, 200, 11, 1);
	height: 377px;
	width: 3px;
}
.recomendation__container {
	margin-top: 156px;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;

	background-color: rgba(249, 249, 249, 1);
}
.recomendation__product {
	display: flex;
	justify-content: space-between;
	background-color: rgba(249, 249, 249, 1);
}
.recomendation__navigation {
	margin-top: 80px;

	display: flex;
}
.recomendation__arrow {
	margin-top: 80px;

	display: flex;
	align-items: center;
}
.arrow__left {
	margin: 5px;
	cursor: pointer;
}
.recomendation__arrow > p {
	margin: 5px;
}
.arrow__right {
	cursor: pointer;
}
.category__wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}
.product__card-hide1000px {
	position: relative;
	width: 312px;
	padding: 16px;
	background-color: rgba(255, 255, 255, 1);
	border: none;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
}
.product__card-hide1000px > img {
	width: 100%;
	border-radius: 6px;
	margin-top: 32px;
}
.product__card-hide1000px > .stock__btn {
	cursor: pointer;
	position: absolute;
	top: 12px;
	left: 12px;
	background-color: rgba(134, 212, 72, 1);
	color: white;
	font-size: 13px;
	padding: 4px 8px;
	border-radius: 4px;
}
.product__card-hide1000px > .favorite {
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 30px;
	cursor: pointer;
}
.product__card-hide600px {
	position: relative;
	width: 312px;
	padding: 16px;
	background-color: rgba(255, 255, 255, 1);
	border: none;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
}
.product__card-hide600px > img {
	width: 100%;
	border-radius: 6px;
	margin-top: 32px;
}
.product__card-hide600px > .stock__btn {
	cursor: pointer;
	position: absolute;
	top: 12px;
	left: 12px;
	background-color: rgba(134, 212, 72, 1);
	color: white;
	font-size: 13px;
	padding: 4px 8px;
	border-radius: 4px;
}
.product__card-hide600px > .favorite {
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 30px;
	cursor: pointer;
}

.product-btn {
	width: 146px;
	height: 44px;
	border-radius: 4px;
	background-color: rgba(254, 200, 11, 1);
	border: none;
}
.product__card {
	position: relative;
	width: 312px;
	padding: 16px;
	background-color: rgba(255, 255, 255, 1);
	border: none;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
}
.product__card > img {
	width: 100%;
	border-radius: 6px;
	margin-top: 32px;
}
.stock__btn {
	cursor: pointer;
	position: absolute;
	top: 12px;
	left: 12px;
	background-color: rgba(134, 212, 72, 1);
	color: white;
	font-size: 13px;
	padding: 4px 8px;
	border-radius: 4px;
}
.favorite {
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 30px;
	cursor: pointer;
}
.product__title {
	font-size: 18px;
	color: rgba(0, 0, 0, 1);
}
.product__price {
	font-size: 22px;
	color: rgba(0, 0, 0, 1);
	margin-top: 14px;
}
.product__downald-btn {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.link-kp {
	font-size: 16px;
	text-decoration: none;
	color: rgba(161, 161, 161, 1);
}
.link-item > i {
	color: rgba(161, 161, 161, 1);
}
.product-btn {
	width: 146px;
	height: 44px;
	border-radius: 4px;
	background-color: rgba(254, 200, 11, 1);
	border: none;
}
.recomendation__wrapper {
	display: flex;
	justify-content: space-between;
}
.news__container {
	margin-top: 195px;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;

	background-color: rgba(249, 249, 249, 1);
}
.news__content {
	display: flex;
	justify-content: space-between;
	background-color: rgba(249, 249, 249, 1);
}
.news__navigation {
	margin-top: 80px;

	display: flex;
}
.news__arrow {
	margin-top: 80px;

	display: flex;
	align-items: center;
}
.arrow__left {
	margin: 5px;
	cursor: pointer;
}
.news__arrow > p {
	margin: 5px;
}
.news__card {
	width: 312px;
	height: 361px;
	padding-top: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.news__card > img {
	width: 100%;
}
.news__date {
	font-size: 16px;
	margin-bottom: 5px;
}
.news__title {
	font-size: 18px;
	width: 286px;
}
.news__link {
	font-size: 18px;
	text-decoration: none;
	color: rgba(161, 161, 161, 1);
	display: flex;
	align-items: center;
	margin-top: 35px;
}
.news__card_hide1000px {
	width: 312px;
	height: 361px;
	padding-top: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.news__card_hide700px {
	width: 312px;
	height: 361px;
	padding-top: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.news__wrapper {
	display: flex;
	justify-content: space-between;
}
@media (max-width: 1333px) {
	* {
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}

	.header__container {
		padding: 10px 20px;

		align-items: flex-start;
	}

	.header__nav-link {
		min-width: 70px;
		margin-right: 0;
	}
	.header__text > p {
		display: none;
	}

	.header__contacts > p {
		display: flex;
		flex-wrap: wrap;
	}
	.header__contacts {
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.header__text {
		display: flex;
		align-items: center;
		margin: 20px;
	}
	.item {
		background-color: rgba(254, 200, 11, 1);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.item i {
		font-size: 24px;
		color: black;
	}
	.header__menu {
		margin-left: 10px;
	}
	.header__info {
		margin-left: 10px;
	}
	.categories {
		width: 100%;
	}
	.item-controller {
		display: flex;
	}
	.input-controller {
		display: flex;
	}
}
@media (max-width: 1000px) {
	.header__contacts > b {
		display: none;
	}
	.item {
		width: 20%;
	}
	.header__contacts > p {
		font-size: 15px;

		display: flex;
		flex-direction: column;
	}
	.header__contacts {
		width: 100%;
	}
}
@media (max-width: 973px) {
	.header__tools {
		display: flex;
		flex-wrap: nowrap;
	}
	.header__links {
		display: none;
	}
}
@media (max-width: 907px) {
	.item {
		width: 25%;
	}
	.header__contacts > p {
		width: 100%;
	}
}

@media (max-width: 800px) {
	.header__contacts {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.header__contacts > p {
		margin: 0;
		padding: 0;
	}
	.item {
		width: 46px;
		height: 46px;
		background-color: rgba(254, 200, 11, 1);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.banner {
		background-image: url(images/banner.jpg);
		background-position: center bottom;
		background-size: 250%;
	}
}
@media (max-width: 655px) {
	.item {
		width: 46px;
		height: 46px;
		background-color: rgba(254, 200, 11, 1);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
@media (max-width: 620px) {
	.header__contacts {
		display: none;
	}
	.item {
		width: 46px;
		height: 46px;
		background-color: rgba(254, 200, 11, 1);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.input-controller > input {
		display: none;
	}
	.input-controller > i {
		font-size: 30px;
	}
}
@media (max-width: 374px) {
	.header__nav-links > .btn {
		margin-right: 30px;
	}
}

@media (max-width: 540px) {
	.banner {
		background-image: url(images/banner.jpg);
		background-position: center bottom;
		background-size: 350%;
	}
	.banner__info {
		position: absolute;
		top: 30px;
		left: 20px;
	}
	.banner__btn {
		justify-content: space-around;
	}
	.banner__arrow {
		top: 40%;
	}
	.banner__pagination {
		left: 40%;
	}
}
@media (max-width: 1053px) {
	.banner__container {
		max-width: 100%;
	}
	.banner {
		background-image: url(images/banner.jpg);
		background-position: center bottom;
		background-size: 500%;
	}
	.banner__info > p {
		display: none;
	}
	.banner__btn {
		display: flex;
		flex-direction: column;
		max-width: 70%;
		gap: 8px;
	}
	.category-img-hide-768 {
		display: none;
	}
}
@media (max-width: 838px) {
	.category-img {
		width: 228px;
		height: 247px;
		border-radius: 8px;
		border: 1px solid rgba(235, 235, 235, 1);
		background-color: white;
		position: relative;
	}
	.category-img__info {
		position: absolute;
		top: 18px;
		left: 14px;
	}
	.category-img > img {
		width: 143px;
		height: 143px;
		position: absolute;
		bottom: 10px;
		left: calc(72% - 85px);
	}
	.category-img__info > h1 {
		font-size: 24px;
	}
	.category-img__info > p {
		font-size: 16px;
		color: rgba(161, 161, 161, 1);
	}
	.category-img-hide-768 {
		display: none;
	}
	.category-img-hide-414 {
		width: 228px;
		height: 247px;
		border-radius: 8px;
		border: 1px solid rgba(235, 235, 235, 1);
		background-color: white;
		position: relative;
	}
	.category-img__info-hide-414 {
		position: absolute;
		top: 18px;
		left: 14px;
	}
	.category-img-hide-414 > img {
		width: 143px;
		width: 143px;
		position: absolute;
		bottom: 10px;
		left: calc(72% - 85px);
	}
	.category-img__info-hide-414 > h1 {
		font-size: 24px;
	}
	.category-img__info-hide-414 > p {
		font-size: 16px;
		color: rgba(161, 161, 161, 1);
	}
}
@media (max-width: 606px) {
	.category-img-hide-414 {
		display: none;
	}
	.category-img-hide-768 {
		display: none;
	}
}
@media (max-width: 422px) {
	.categories__arrow > p {
		display: none;
	}
}
@media (max-width: 327px) {
	.categories__arrow > p {
		display: none;
	}
}

@media (max-width: 1250px) {
	.about__company {
		flex-direction: column;
	}
	.text-about > p {
		font-size: 18px;
	}

	.company-btn {
		display: none;
	}
}
@media (max-width: 790px) {
	.image__company > img {
		width: 650px;
	}
}
@media (max-width: 678px) {
	.image__company > img {
		width: 550px;
	}
}
@media (max-width: 565px) {
	.image__company > img {
		width: 400px;
	}
}
@media (max-width: 470px) {
	.image__company > img {
		width: 300px;
	}
}
@media (max-width: 736px) {
	.result__number > p {
		font-size: 16px;
	}
	.company-result__item > p {
		width: 200px;
	}
}
@media (max-width: 600px) {
	.company-result {
		display: flex;
		flex-direction: column;
	}
	.company-result__item > p {
		width: 100%;
	}

	.production__circle > img {
		width: 250px;
	}
	.production__circle {
		padding-top: 350px;
	}
	.recomendation__container {
		padding-top: 350px;
	}
	.product__card-hide1000px {
		display: none;
	}
}
@media (max-width: 1240px) {
	.yellow-line {
		display: none;
	}
	.production__content {
		display: none;
	}
}
@media (max-width: 850px) {
	.production__circle > img {
		position: relative;
		width: 520px;
		height: 520px;
	}

	.point_dot1 {
		position: absolute;
		top: 20px;
		left: 350px;
		width: 279px;
	}
	.point_dot2 {
		position: absolute;
		top: 135px;
		left: 450px;
		width: 279px;
		color: rgba(161, 161, 161, 1);
	}
	.point_dot3 {
		position: absolute;
		top: 250px;

		width: 270px;
		color: rgba(161, 161, 161, 1);
	}
	.point_dot4 {
		position: absolute;
		top: 375px;

		width: 200px;
		color: rgba(161, 161, 161, 1);
	}
	.point_dot5 {
		position: absolute;
		top: 475px;
		left: 350px;
		width: 279px;
		color: rgba(161, 161, 161, 1);
	}
}
@media (max-width: 818px) {
	.point_dot1 {
		position: static;
		color: black;
		font-size: 18px;
		margin-top: 32px;
		padding-bottom: 20px;
	}
	.point_dot2 {
		position: static;
		color: black;
		font-size: 18px;
		padding-bottom: 20px;
	}
	.point_dot3 {
		color: black;
		position: static;
		font-size: 18px;
		padding-bottom: 20px;
		width: 500px;
	}
	.point_dot4 {
		position: static;
		color: black;
		font-size: 18px;
		padding-bottom: 20px;
		width: 500px;
	}

	.point_dot5 {
		position: static;
		color: black;
		font-size: 18px;
		padding-bottom: 20px;
	}
	.dot {
		width: 14px;
		height: 14px;
		background-color: rgba(254, 200, 11, 1);
		border-radius: 50%;

		margin-right: 10px;
	}
	.recomendation__container {
		margin-top: 200px;
	}
}
@media (max-width: 645px) {
	.production__circle > img {
		position: relative;
		width: 400px;
	}
}
@media (max-width: 527px) {
	.point_dot4 {
		width: 270px;
	}
	.point_dot3 {
		width: 270px;
	}
}
@media (max-width: 420px) {
	.production__circle > img {
		width: 300px;
		padding-top: 60px;
	}
}
@media (max-width: 1000px) {
	.product__card-hide600px {
		display: none;
	}
}
@media (max-width: 1906px) {
	.recomendation__navigation > h2 {
		display: none;
	}
	.news-hide {
		display: none;
	}
}
@media (max-width: 760px) {
	.product__card {
		width: 228px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.product__title {
		text-align: center;
	}

	.product__downald-btn {
		align-items: center;
		flex-direction: column;
	}
	.product-btn {
		margin: 8px;
	}
	.product__card-hide1000px {
		width: 228px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.product__card-hide1000px > .product__title {
		text-align: center;
	}

	.product__card-hide1000px > .product__downald-btn {
		align-items: center;
		flex-direction: column;
	}
	.product__card-hide1000px > .product-btn {
		margin: 8px;
	}
}
@media (max-width: 600px) {
	.product__card-hide1000px {
		display: none;
	}
	.recomendation__arrow > p {
		display: none;
	}
	.recomendation__navigation > h1 {
		display: none;
	}
	.recomendation__navigation > h2 {
		display: flex;
		font-size: 28px;
	}
	.product__downald {
		display: none;
	}

	.product__card {
		width: 183px;
	}
}
@media (max-width: 411px) {
	.product__card {
		width: 136px;
	}
	.product__price {
		font-size: 18px;
	}
	.product__title {
		font-size: 16px;
	}
	.favorite {
		font-size: 24px;
	}
}
@media (max-width: 1308px) {
	.news__card_hide700px {
		display: none;
	}
	.news__card {
		width: 228px;
	}
	.news__card_hide1000px {
		width: 228px;
	}
	.news__title {
		width: 100%;
	}
}
@media (max-width: 737px) {
	.news__card_hide1000px {
		display: none;
	}
}
@media (max-width: 518px) {
	.news__card > img {
		display: none;
	}
	.news__card > .news-hide {
		display: flex;
	}
	.arrow__left {
		display: none;
	}
	.arrow__right {
		display: none;
	}
	.news__card {
		width: 173px;
	}
	.news__title {
		font-size: 16px;
	}
}
@media (max-width: 397px) {
	.news__card {
		width: 136px;
	}
}
